body {
    background: #161616
}

h1, p, b, div, td, th {
    color: white;
    font-family: 'Courier New';
}

.mainContainer {
    display: grid;
    grid-gap: 10px;
}

#worldMapItem,
#tileViewItem,
#creatureViewItem {
    height: 100%;
    max-height: 700px;
    border: 2px solid #666666;
    background-color: #222222;
    border-radius: 8px;
    padding: 8px;
    overflow: auto;
}

#worldMapItem {
    width: 324px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

#tileViewItem {
    min-width: 700px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

#creatureViewItem {
    min-width: 300px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.tileViewCreatureTable td {
    padding-left: 4px;
    padding-right: 4px;
}

.creatureCounter {
    color: white;
    background-color: #414141;
    font-size: 16px;
}

.worldMapCell {
    height: 25px;
    width: 25px;
    text-align: center;
    border: 2px solid transparent;
}

.worldMapCell[selected="true"] {
    border: 2px solid red;
}

.forest {
    background-color: #008f00;
}

.grassland {
    background-color: #00ff00;
}

.savannah {
    background-color: #c3ff00;
}

.desert {
    background-color: #ffff00;
}

.river {
    background-color: #00aeff;
}

.sea {
    background-color: #0000ff;
}

.high_mountains {
    background-color: #493e28;
}

.barViewCellFull,
.barViewCellEmpty,
.genePowerCellFull,
.genePowerCellEmpty {
    width: 10px;
    height: 25px;
    border-radius: 4px;
}

.barViewCellFull,
.genePowerCellFull {
    background-color: green;
}

.barViewCellEmpty,
.genePowerCellEmpty {
    background-color: #333333;
}

.damageTable {
    border: 2px solid #666666;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.damageTable td {
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
}

.deadLabel {
    color: red;
}

#license {
    bottom: 0%;
    position: fixed;
}
