body {
    background: #161616
}

h1, p, b {
    color: white;
    font-family: 'Courier New';
}

.mainContainer {
    display: grid;
    grid-gap: 10px;
}

.worldMapItem {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.tileViewItem {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.creatureCounter {
    color: white;
    background-color: #414141;
    font-size: 16px;
}

.grassland {
    height: 25px;
    width: 25px;
    background-color: #00ff00;
    text-align: center;
}

.desert {
    height: 25px;
    width: 25px;
    background-color: #ffff00;
    text-align: center;
}

.sea {
    height: 25px;
    width: 25px;
    background-color: #0000ff;
    text-align: center;
}

#tileView {
    width: 800px;
    height: 250px;
    background-color: #222222;
    border: 2px solid #666666;
    overflow: auto;
}

#license {
    bottom: 0%;
    position: fixed;
}
